# yaml-language-server: $schema=https://json-schema.org/draft/2020-12/schema
$schema:     https://json-schema.org/draft/2020-12/schema
$id:         <HOST>/<PREFIX>/<VERSION>/config/document.parameter.yaml
title:       Parameter
description: Defines a runtime option for a DSC Configuration Document.

markdownDescription: | # VS Code only
  ***
  [_Online Documentation_][01]
  ***

  Defines a runtime option for a DSC Configuration Document.

  [01]: <DOCS_BASE_URL>/reference/schemas/config/parameter?<DOCS_VERSION_PIN>


type: object
required:
  - type
properties:
  type:
    $ref: /<PREFIX>/<VERSION>/definitions/parameters/dataTypes.yaml
  defaultValue:
    title: Default value
    description: >-
      Defines the default value for the parameter.
    $ref: /<PREFIX>/<VERSION>/definitions/parameters/validValueTypes.yaml
    # VS Code only
    markdownDescription: |
      ***
      [_Online Documentation_][01]
      ***

      Defines the default value for the parameter.

      [01]: <DOCS_BASE_URL>/reference/schemas/config/parameter?<DOCS_VERSION_PIN>#allowedvalues
  allowedValues:
    title: Allowed values
    description: >-
      Defines a list of valid values for the parameter. If the
      parameter is defined with any other values, it's invalid.
    type: array
    items:
      $ref: /<PREFIX>/<VERSION>/definitions/parameters/validValueTypes.yaml
    # VS Code only
    markdownDescription: |
      ***
      [_Online Documentation_][01]
      ***

      Defines a list of valid values for the parameter. If the parameter is defined with any other
      values, it's invalid.

      [01]: <DOCS_BASE_URL>/reference/schemas/config/parameter?<DOCS_VERSION_PIN>#allowedvalues
  description:
    title: Parameter description
    description: >-
      Defines a synopsis for the parameter explaining its purpose.
    type: string
    # VS Code only
    markdownDescription: |
      ***
      [_Online Documentation_][01]
      ***

      Defines a synopsis for the parameter explaining its purpose.

      [01]: <DOCS_BASE_URL>/reference/schemas/config/parameter?<DOCS_VERSION_PIN>#description-1
  metadata:
    title: Parameter metadata
    description: >-
      Defines a set of key-value pairs for the parameter. This metadata isn't validated.

    type: object
    # VS Code only
    markdownDescription: |
      ***
      [_Online Documentation_][01]
      ***

      Defines a set of key-value pairs for the parameter. This metadata isn't validated.

      [01]: <DOCS_BASE_URL>/reference/schemas/config/parameter?<DOCS_VERSION_PIN>#metadata-1
    defaultSnippets:
      - label: ' New metadata property'
        markdownDescription: |-
          Defines a key-value pair for the metadata:

          ```yaml
          metadataName: value
          ```
        body:
          ${1:metadataName}: ${2:value}

      - label: ' New metadata property (object)'
        markdownDescription: |-
          Defines a new key-value pair for the metadata where the value is an object.

          ```yaml
          metadataName:
            key: value
          ```
        body:
          ${1:metadataName}:
            ${2:key}: ${3:value}

      - label: ' New metadata property (array)'
        markdownDescription: |-
          Defines a new key-value pair for the metadata where the value is an array.

          ```yaml
          metadataName:
            - firstValue
            - secondValue
          ```
        body:
          ${1:metadataName}:
            - ${2:firstValue}
            - ${3:secondValue}

# Conditional settings depending on parameter type
allOf:
  # Additional properties for integer parameters
  - if:
      properties:
        type:
          const: int
    then:
      properties:
        minValue:
          title: Minimum value
          description: >-
            The minimum valid value for an integer type. If defined with the `maxValue` property,
            this value must be less than the value of `maxValue`.
          type: integer
          # VS Code only
          markdownDescription: |
            ***
            [_Online Documentation_][01]
            ***

            The minimum valid value for an integer type. If defined with the `maxValue` property,
            this value must be less than the value of `maxValue`.

            [01]: <DOCS_BASE_URL>/reference/schemas/config/parameter?<DOCS_VERSION_PIN>#minvalue

        maxValue:
          title: Maximum value
          description: >-
            The maximum valid value for an integer type. If defined with the `minValue` property,
            this value must be greater than the value of `minValue`.
          type: integer
          # VS Code only
          markdownDescription: |
            ***
            [_Online Documentation_][01]
            ***

            The maximum valid value for an integer type. If defined with the `minValue` property,
            this value must be greater than the value of `minValue`.

            [01]: <DOCS_BASE_URL>/reference/schemas/config/parameter?<DOCS_VERSION_PIN>#maxvalue

  # Additional properties for string and array parameters
  - if:
      oneOf:
        - properties: { type: { const: string } }
        - properties: { type: { const: securestring } }
        - properties: { type: { const: array } }
    then:
      properties:
        minLength:
          title: Minimum length
          description: >-
            The minimum valid length for a `string`, `securestring`, or `array`. If defined with
            the `maxLength` property, this value must be less than the value of `maxLength`.
          type: integer
          minimum: 0
          # VS Code only
          markdownDescription: |
            ***
            [_Online Documentation_][01]
            ***

            The minimum valid length for a `string`, `securestring`, or `array`. If defined with
            the `maxLength` property, this value must be less than the value of `maxLength`.

            [01]: <DOCS_BASE_URL>/reference/schemas/config/parameter?<DOCS_VERSION_PIN>#minLength
        maxLength:
          title: Maximum length
          description: >-
            The maximum valid length for a `string`, `securestring`, or `array`. If defined with
            the `minLength` property, this value must be less than the value of `minLength`.
          type: integer
          minimum: 0
          # VS Code only
          markdownDescription: |
            ***
            [_Online Documentation_][01]
            ***

            The maximum valid length for a `string`, `securestring`, or `array`. If defined with
            the `minLength` property, this value must be less than the value of `minLength`.

            [01]: <DOCS_BASE_URL>/reference/schemas/config/parameter?<DOCS_VERSION_PIN>#maxLength
  # defaultValue strict validation
  - if:
      oneOf:
        - properties: { type: { const: string } }
        - properties: { type: { const: securestring } }
    then:
      properties:
        defaultValue:  { type: string }
        allowedValues: { items: { type: string } }
  - if:
      oneOf:
        - properties: { type: { const: object } }
        - properties: { type: { const: secureobject } }
    then:
      properties:
        defaultValue:  { type: object }
        allowedValues: { items: { type: object } }
  - if:
      properties: { type: { const: int } }
    then:
      properties:
        defaultValue:  { type: integer }
        allowedValues: { items: { type: integer } }
  - if:
      properties: { type: { const: array } }
    then:
      properties: { defaultValue: { type: array } }
  - if:
      properties: { type: { const: bool } }
    then:
      properties:
        defaultValue:  { type: boolean }
        allowedValues: { items: { type: boolean } }
