# Rust artifacts
target/

# Node artifacts
build/
prebuilds/
node_modules/
*.tgz

# Swift artifacts
.build/
Package.swift

# Go artifacts
go.sum
_obj/

# Python artifacts
.venv/
dist/
*.egg-info
*.whl
pyproject.toml
setup.py

# C artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc
Makefile

# Example dirs
/examples/*/

# Grammar volatiles
*.wasm
*.obj
*.o

.editorconfig
