# CFS/ADO crate feed is currently only working with unstable features.
[unstable]
registry-auth = true

[registries]
POWERSHELL = { index = "sparse+https://pkgs.dev.azure.com/powershell/PowerShell/_packaging/powershell/Cargo/index/" }

[registry]
global-credential-providers = ["cargo:token"]

# Avoid linking with vcruntime140.dll by statically linking everything,
# and then explicitly linking with ucrtbase.dll dynamically.
# We do this, because vcruntime140.dll is an optional Windows component.
[target.x86_64-pc-windows-msvc]
rustflags = [
    "-Ccontrol-flow-guard",
    "-Ctarget-feature=+crt-static",
    "-Clink-args=/DEFAULTLIB:ucrt.lib",
    "-Clink-args=/NODEFAULTLIB:vcruntime.lib",
    "-Clink-args=/NODEFAULTLIB:msvcrt.lib",
    "-Clink-args=/NODEFAULTLIB:libucrt.lib",
    "-Clink-args=/DYNAMICBASE",
    "-Clink-args=/CETCOMPAT",
    "-Dwarnings"
]

[target.aarch64-windows-msvc]
rustflags = [
    "-Ccontrol-flow-guard",
    "-Ctarget-feature=+crt-static",
    "-Clink-args=/DEFAULTLIB:ucrt.lib",
    "-Clink-args=/NODEFAULTLIB:vcruntime.lib",
    "-Clink-args=/NODEFAULTLIB:msvcrt.lib",
    "-Clink-args=/NODEFAULTLIB:libucrt.lib",
    "-Clink-args=/DYNAMICBASE",
    "-Dwarnings"
]

# The following is only needed for release builds
[source.crates-io]
replace-with = "POWERSHELL"

# Enable running `cargo xtask <command>`
[alias]
xtask = "run --package xtask --"
