# Copyright (C) Microsoft Corporation. All rights reserved.

[package]
name = "pal"
version = "0.1.0"
edition = "2021"

[profile.release]
strip = true
# optimize for size
opt-level = 2
# enable link time optimization to remove dead code
lto = true

[build-dependencies]
cc = "*"
