host:             https://raw.githubusercontent.com
prefix:           PowerShell/DSC/main/schemas
version:          2024/04
docs_base_url:    https://learn.microsoft.com/powershell/dsc
docs_version_pin: view=dsc-3.0&preserve-view=true
bundle_schemas:
  # Resource manifest bundle
  - ConfigFilePath:  resource/manifest.json
    Name:            manifest
    OutputDirectory: bundled/resource
    OutputFormat:    ['Json', 'JsonVSCode']

  # Configuration document bundle
  - ConfigFilePath:  config/document.json
    Name:            document
    OutputDirectory: bundled/config
    OutputFormat:    ['Json', 'JsonVSCode']

  # Output schema bundles
  - ConfigFilePath:  outputs/schema.json
    Name:            schema
    OutputDirectory: bundled/outputs
    OutputFormat:    ['Json', 'JsonVSCode']

  - ConfigFilePath:  outputs/config/get.json
    Name:            get
    OutputDirectory: bundled/outputs/config
    OutputFormat:    ['Json', 'JsonVSCode']

  - ConfigFilePath:  outputs/config/set.json
    Name:            set
    OutputDirectory: bundled/outputs/config
    OutputFormat:    ['Json', 'JsonVSCode']

  - ConfigFilePath:  outputs/config/test.json
    Name:            test
    OutputDirectory: bundled/outputs/config
    OutputFormat:    ['Json', 'JsonVSCode']

  - ConfigFilePath:  outputs/resource/get.json
    Name:            get
    OutputDirectory: bundled/outputs/resource
    OutputFormat:    ['Json', 'JsonVSCode']

  - ConfigFilePath:  outputs/resource/list.json
    Name:            list
    OutputDirectory: bundled/outputs/resource
    OutputFormat:    ['Json', 'JsonVSCode']

  - ConfigFilePath:  outputs/resource/schema.json
    Name:            schema
    OutputDirectory: bundled/outputs/resource
    OutputFormat:    ['Json', 'JsonVSCode']

  - ConfigFilePath:  outputs/resource/set.json
    Name:            set
    OutputDirectory: bundled/outputs/resource
    OutputFormat:    ['Json', 'JsonVSCode']

  - ConfigFilePath:  outputs/resource/test.json
    Name:            test
    OutputDirectory: bundled/outputs/resource
    OutputFormat:    ['Json', 'JsonVSCode']
