name: Rust

on:
  push:
    branches: [ "main", "release/*" ]
  pull_request:
    branches: [ "main", "release/*" ]
    paths-ignore:
      - "docs/**"
      - "*.md"
      - ".vscode/*.json"
      - ".github/ISSUE_TEMPLATE/**"

env:
  CARGO_TERM_COLOR: always

jobs:
  # build-linux:

  #   runs-on: ubuntu-latest

  #   steps:
  #   - uses: actions/checkout@v3
  #   - name: Build
  #     shell: pwsh
  #     run: ./build.ps1 -clippy
  #   - name: Run tests
  #     shell: pwsh
  #     run: ./build.ps1 -test

  build-linux:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - run: rustup target add x86_64-unknown-linux-musl
    - name: Install musl build tools
      run: sudo apt update && sudo apt install musl-tools -y
    - name: Build
      shell: pwsh
      run: ./build.ps1 -clippy -target x86_64-unknown-linux-musl
    - name: Run tests
      shell: pwsh
      run: ./build.ps1 -test -target x86_64-unknown-linux-musl

  build-windows:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Test 
      shell: powershell
      run: | 
        Get-Module -ListAvailable PSDesiredStateConfiguration
    - name: Build
      shell: pwsh
      run: ./build.ps1 -clippy
    - name: Run tests
      shell: pwsh
      run: ./build.ps1 -test

  build-macos:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      shell: pwsh
      run: ./build.ps1 -clippy
    - name: Run tests
      shell: pwsh
      run: ./build.ps1 -test
